# database connection string
DATABASE_URL_DEV=
DATABASE_URL_PRD=

# payload secret
PAYLOAD_SECRET=

# payload server url
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# payload meta icon name
NEXT_PUBLIC_META_ICON=favicon.svg